/*

Ordre des informations (à peu près) pour s'y retrouver:

    - Settings de texte
    - Margin, padding, et autres informations de taille
    - Couleurs
    - Border & border-colour
    - Le reste

Les couleurs sont définies en hsl pour pouvoir 
leur donner la même teinte et changer la nuance
(rgb aurait fait changer toutes les valeurs pour une teinte similaire),
et quelques fois en hsla pour leur donner un effet adouci via transparence.

*/

/*=======================================================
================ DÉFINITION DE VARIABLES ================
=======================================================*/

/*
Quelques éléments sont utilisés un peu partout dans le document,
donc on fait des variables pour harmoniser les éléments plus facilement.
*/

:root{

    --font: verdana, sans-serif;
    --white: hsl(50, 60%, 92%);
    --red-white: hsl(15, 30%, 92%);
    --light-yellow: hsl(50, 60%, 85%)

}

/*=======================================================
================= BODY + MAIN CONTAINER =================
=======================================================*/

body{

    margin-top: 0;
	margin-bottom:0;
	padding: 10px 10px;

	background-color: var(--white);

}

#MainContainer {

	margin: 50px auto auto auto; 
    /* ^ Pour laisser de la place pour navbar */
	padding: 30px;
	width: 80%;

	background-color: var(--light-yellow);

	border-width: 6px 6px; 
	border-style: groove; 
	border-color: hsla(25, 70%, 25%, 50%);
    border-radius: 60px;

}


/*=======================================================
======================== Hx et HR =======================
=======================================================*/

h1, h2{

	font-family: var(--font);
	color:hsl(15, 70%, 20%);
	text-align: center;
    letter-spacing: 1px;

}


/*
Grand bandeau
*/
h1{

    font-size: 45px;
    font-family: century gothic, sans-serif;
    letter-spacing: 7px;

    margin: 30px auto 30px -13px;
    padding: 30px 0px 30px 0px;
    width: 100%;

    background-color: hsl(15, 50%, 60%);

    border-radius: 10px;
    border-style: groove;
    border-width: 10px;
    border-color: hsla(15, 50%, 40%, 80%);

}

/*
Rappelle plus les labels dans la forme
*/
h2{

    margin: auto;
    padding: 10px;
    width: 50%;

    background-color: hsl(15, 50%, 60%);

    border-radius: 30px;
    border-style: groove;
    border-color: hsla(15, 50%, 40%, 80%);

}

/*
Fine séparation mais séparation quand-même
*/
hr{
    height: 5px;
    margin-top: 40px;
    margin-bottom: 40px;

    color: hsl(15, 50%, 50%);
    background-color: hsla(15, 50%, 70%, 50%);

    border-width: 2px;
    border-color: hsla(15, 30%, 50%, 40%);
    border-radius: 4px;
    border-style: groove;
}


/*=======================================================
================= P ET AUTRES FORMATAGES ================
=======================================================*/

p{
    
	font-family: var(--font);
    
    color: hsl(15, 70%, 15%);

}

.pcenter{
    
    margin: 10px;

    display: flex;
	justify-content: center;

}

.warning{

    font-weight: bold;
    color: hsl(15, 60%, 60%);
}

/*
Dans les posts, pour date + lieu
*/
.location{

    font-weight: bold;
    font-size: 20px;
    text-align: center;
    
    color: hsl(15, 30%, 45%);

    margin: auto;
    padding: 10px;
    width: 50%;
    
    border-radius: 5px;
    border-style: dashed;
    border-width: 4px;
    border-color: hsla(15, 70%, 15%, 20%);

    background-color: var(--red-white);
;

}


/*
Utilisés pour les commentaires
*/
.commentuser{

    margin: auto;
    padding: 8px;
    width: 12em;

    background-color: var(--red-white);
    
    border-width: 3px;
    border-color: hsla(15, 30%, 80%, 40%);
    border-style: groove;
    border-radius: 5px;

}

.commenttext{

    margin: auto;
    padding: 8px;
    width: 12em;

    background-color: var(--white);

}


/*=======================================================
========================== FLEX =========================
=======================================================*/


.box{

    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 1%;

    background-color: hsla(50, 60%, 92%, 30%);

    border-radius: 5px;
    border-style: solid;
    border-color: hsla(50, 40%, 60%, 50%);
    border-width: 3px;

}

.box-invisible{

    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 1%;

}

.box-left{

    display: flex;
}

.boximage{

    flex-basis: 40%;

}

.boxtext{

    padding-left: 20px;
    font-size: 16px;

}

img{

    max-width: 100%;

}

/*
Pour les boutons de supression/modification de posts
(qui restent sur la droite de la colonne)
*/
.right{

    position:relative;
    z-index: 1;
    left: 80%;

}

.inline{

    display: inline;

}


/*
Les classes du dessous sont pour l'affichage en colonnes,
tandis que celles du dessus sont pour aligner des éléments.
*/

.row{
    display: flex;
}

/*
On ne peut pas utiliser MainContainer pour un affichage en colonnes
puisque le padding prend trop de place.
On recopie donc le code CSS de MainContainer en modifiant le padding.
*/
.column-main{

    flex: 60%;
    padding: 0px 2% 0px 2%;

    margin: 25px auto auto auto;
	width: 90%;

	background-color: var(--light-yellow);

	border-width: 6px 6px; 
	border-style: groove; 
	border-color: hsla(25, 70%, 25%, 50%);
    border-radius: 60px;

}

/*
Ceci est utilisé aux côtés de column-main pour afficher des informations supplémentaires.
*/
.column-side{

    flex: 30%;
    padding: 0px 2% 0px 2%;

    margin-top: 45px;

}

/*
Ceci est utilisé dans blog.php pour un affichage en 3 colonnes, basé sur cplumn main.
*/
.column-third{

    flex: 28%;
    padding: 1%;

    margin: 25px 1% auto 2%;
	width: 85%;

	background-color: var(--light-yellow);

	border-width: 6px 6px; 
	border-style: groove; 
	border-color: hsla(25, 70%, 25%, 50%);
    border-radius: 60px;

}

/*
Comme column-third, mais sans le fond de main container
(pour un affichage déjà dans un container).
*/

.column-third-no-bg{

    flex: 28%;
    padding: 1%;

}



/*=======================================================
=========================== A ===========================
=======================================================*/

a:link {

    margin: auto 4px auto 4px;

	font-weight:bold;
	color:hsl(15, 50%, 45%);;
	text-decoration:none;

}

a:visited {

	color:hsl(15, 40%, 60%);;

}

a:hover{

	color:hsl(50, 50%, 30%);;

}

a:active{

	color:hsl(15, 80%, 10%);;

}

/*=======================================================
======================= FORMULAIRE ======================
=======================================================*/

label{

    font-family: var(--font);

    margin: 10px auto 10px auto;
    padding: 10px;
    width: 20%;

    background-color: hsl(15, 50%, 70%);

    border-radius: 10px;
    border-color: hsla(15, 40%, 60%, 60%);
    border-width: 3px;
    border-style: groove;

}

input{

    font-family: var(--font);

    margin: 10px;
    padding: 15px;
    /*width: 20%;*/

    background-color: var(--white);;

    border-color: hsla(15, 40%, 60%, 60%);
    border-width: 3px;
    border-style: groove;
    border-radius: 10px;
}

input[type=submit]{

    font-family: var(--font);
    font-size: 18px;

    margin: 10px auto 10px auto;
    padding: 12px;

    background-color: hsl(15, 70%, 20%);
    color: var(--light-yellow);

    display: inline-block;

    border-radius: 5px;
    border-color: hsla(15, 70%, 30%, 70%);
    border-style: groove;
    border-width: 3px;

    align-items: center;

}

input[type=submit]:hover{

    background-color: hsl(15, 70%, 30%);
    color: var(--light-yellow);

}

input[type=image]:hover{

    background-color: hsl(15, 70%, 30%);
    color: var(--light-yellow);
    border-color: hsla(15, 70%, 30%, 70%);
    border-style: groove;

}

button{

    font-family: var(--font);
    font-size: 18px;

    margin: 10px auto 10px auto;
    padding: 12px;

    background-color: hsl(15, 70%, 20%);
    color: var(--light-yellow);

    display: inline-block;

    border-radius: 5px;
    border-color: hsla(15, 70%, 30%, 70%);
    border-style: groove;
    border-width: 3px;

    align-items: center;

}

button:hover{

    background-color: hsl(15, 70%, 30%);
    color: var(--light-yellow);

}

/*=======================================================
========================= NAVBAR ========================
=======================================================*/

.navbar {
    
    font-family: century gothic, sans-serif;
    
    position: fixed;
    z-index: 2;
    /*
    On fixe z pour s'assurer que les boutons de
    modification ou suppression de blog (seule classe
    qui a une position notée) ne passent pas par
    dessus la navbar
    */

    top: 0;
    width: 130%;
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 20px;

    background-color: hsl(15, 80%, 10%);
    
    overflow: hidden;

}
  
.navbar a {
    
    text-align: center;
    text-decoration: none;
    float: left;
    display: block;
    
    padding: 14px 16px;

    color: var(--white)

}
  
.navbar a:hover {

    background: hsl(50, 20%, 65%);
    color: hsl(15, 80%, 10%);

}


/*=======================================================
======================= CLASSEMENT ======================
=======================================================*/

/*
Ces classes permettent de donner de la couleur à la page classement.php,
pour générer les "icônes" des positions sans utiliser d'images.
*/

.firstplace{

    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    width: 1em;

    background-color: hsl(50, 60%, 60%);
    
    border-color: hsl(50, 60%, 40%);
    border-style: groove;
    border-width: 5px;
    border-radius: 5px;

}

.secondplace{

    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    width: 1em;

    background-color: hsl(200, 10%, 80%);
    
    border-color: hsl(200, 10%, 40%);
    border-style: groove;
    border-width: 5px;
    border-radius: 5px;

}

.thirdplace{

    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    width: 1em;

    background-color: hsl(15, 30%, 60%);
    
    border-color: hsl(15, 30%, 40%);
    border-style: groove;
    border-width: 5px;
    border-radius: 5px;

}

.otherplaces{

    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    width: 1em;

    background-color: hsl(200, 10%, 60%);
    
    border-color: hsl(200, 10%, 40%);
    border-style: groove;
    border-width: 5px;
    border-radius: 5px;

}



/*=======================================================
========================= AVATAR ========================
=======================================================*/


/*
Pour rendre les photos de profil rondes
*/
.avatar{
    border-radius: 50%;
}

